$Montserrat:("Medium", 500), ("SemiBold", 600), ("Bold", 700),  ("ExtraBold", 800);

@each $name, $weight in $Montserrat {
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/static/Montserrat-#{$name}.ttf");
    font-weight: $weight;
  }
}